@import "tailwindcss";

@theme {
  --font-sans: Inter, system-ui, sans-serif;
  --font-display: 'Space Grotesk', system-ui, sans-serif;

  --color-*: initial;
  --color-white: #ffffff;
  --color-black: #000000;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: white;
  color: black;
  font-family: var(--font-sans);
}

* {
  box-sizing: border-box;
}
